<?xml version="1.1" encoding="UTF-8"?>
<launch>

  <!-- Robot pose -->
  <arg name="x" default="5"/>
  <arg name="y" default="5"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find binbot_description)/launch/robot_description.launch"/>




  <!-- World File -->
  <arg name="world_file" default="$(find binbot_description)worlds/office.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>



 <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find binbot_description)/urdf/binbot.xacro'"/>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model binbot
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>


<!--load control file-->
<!--rosparam file="$(find k2wr_description)/config/diff_drive.yaml" command="load" /-->
<!-- controller_manager-->
<!--node name="k2wr_controller_manager" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="mobile_base_controller" /-->

<!--launch rviz-->
  <!--node name="rviz" pkg="rviz" type="rviz" respawn="false"/-->

</launch>

